<% if (messages.error.length > 0) { %>
  <div class="bg-red-100 text-red-800 px-4 py-2 mb-4 rounded">
    <%- messages.error[0].replace(/\n/g, "<br>") %>
  </div>
<% } %>
<% if (messages.success.length > 0) { %>
  <div class="bg-green-100 text-green-800 px-4 py-2 mb-4 rounded">
    <%- messages.success[0].replace(/\n/g, "<br>") %>
  </div>
<% } %>
