<!DOCTYPE html>
<html lang="en">
<head>
  <title>Educator Dashboard</title>
</head>
<body class="bg-white p-8 font-sans">
  <%- include('../General/header') %>
  <%- include('../General/notifications', { messages: messages }) %>
  <div class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Administrative actions</h2>
    <div class="space-x-4 space-y-2">
      <button onclick="window.location.href='/courses/new'" class="bg-blue-600 text-white px-4 py-2 rounded shadow">Create a new course</button>
      <a href="/my-courses" class="bg-purple-600 text-white px-4 py-2 rounded shadow">My courses</a>
      <button onclick="window.location.href='educator/viewreport'" class="bg-cyan-600 text-white px-4 py-2 rounded shadow">View reports</button>
    </div>
  </div>

  <hr class="my-8">

  <h2 class="text-2xl underline text-center font-bold mb-3">Available Courses</h2>
  <%- include('educator-course', { messages: messages }) %>

</body>
</html>
